In [18]:
from matplotlib import style
import matplotlib.pyplot as plot
import numpy as np
import pandas as pd
style.use('ggplot')

In [23]:
# copied from the manuel and use mutli-curser to edit
labels = [["C3_C", "MEOH_2", "DPPH_1", "DPPH_3", "C3_B",
           "C5_B", "C3_C", "C4_B", "C3_A", "T2", "C2_A", "C1_BK"],
          ["DPPH_2", "C1_B", "MEOH_3", "C2_A"   ,"C4_BK", "T1",
              "C3_BK", "C4_BK", "C1_A", "C2_BK", "C6_C", "C4_A"],
          ["C6_BK", " C6_A ", "C5_C", " C2_BK", " C3_BK", " T4",
              "T4", " C2_C", " C5_A", " C3_B", " C1_C", " C1_B"],
          ["C3_A", " C6_B ", "C1_BK ", "C4_A ", "T2", " C2_C ",
              "C6_A", " T5", " T1", " MEOH_2", " DPPH_2 ", "T3"],
          ["MEOH_1", " T6 ", "C2_B", " C4_B", " C4_C ", "C5_BK",
              " C4_C ", "C5_C", " DPPH_1 ", "DPPH_3", "MEOH_3 ", "C6_B"],
          ["T3", " C1_A ", "C5_A ", "C1_C", " T5", " C6_C", " C5_B",
              " C2_B ", "C6_BK", " T6 ", "C5_BK ", "MEOH_1"]
          ]
# Since we are group 1
labels = [i[:6] for i in labels]
labels = np.array(labels).flatten()

# [i.split(" ") for i in labels]

In [21]:
# Trolox Std  T1-T6
dataPoints = ["T" + str(i) for i in range(1,7)]
D10 = np.array(pd.read_csv("10.csv")).flatten()
D15 = np.array(pd.read_csv("15.csv")).flatten()
D20 = np.array(pd.read_csv("20.csv")).flatten()

In [25]:
pd.read_csv("10.csv")

,0.103,0.039,0.327,0.324,0.097,0.083,0.093,0.081,0.101,0.177,0.133,0.137
0,0.328,0.178,0.044,0.123,0.077,0.235,0.089,0.063,0.175,0.102,0.070,0.079
1,0.053,0.062,0.070,0.135,0.102,0.342,0.356,0.123,0.067,0.099,0.198,0.180
2,0.095,0.062,0.180,0.084,0.326,0.114,0.061,0.298,0.125,0.049,0.355,0.265
3,0.055,0.314,0.177,0.082,0.087,0.062,0.082,0.068,0.347,0.358,0.041,0.054
4,0.338,0.181,0.068,0.178,0.347,0.067,0.069,0.115,0.059,0.374,0.061,0.040
5,0.050,0.049,0.047,0.051,0.066,0.046,0.051,0.060,0.049,0.056,0.049,0.049
6,0.055,0.058,0.050,0.052,0.047,0.049,0.047,0.049,0.052,0.048,0.048,0.049

In [22]:
data = []
for i in dataPoints:
    print(D10[np.where(labels==i)])

[0.342]
[0.102 0.087]
[0.054 0.05 ]
[0.061]
[]
[]